@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "trix/dist/trix";

.trix-content {
	min-height: 20em;
}

.trix-content pre {
  border-radius: 8px;
  padding: 2em;
}


