<h1 class="text-center mb-10">
  <%= link_to 'Notes', root_path %>
</h1>
<div class="text-center">
  <%= link_to 'I learn today...', new_note_path, class: 'rounded bg-yellow-200 py-1 px-12' %>
</div>
